node_modules
.next/

# Env — nunca commitear
.env.local
.env*.local

# Archivos de assets originales (pesados)
src/assets/videos/*.mp4
src/assets/videos/*.mov

# PDFs pesados — hosteados externamente
public/*.pdf

